/*Better status*/
#status-picker-custom-status,
#status-picker #status-picker-custom-status + .separator-1So4YB + div {
    flex: 1 1 100%;
}

#status-picker-online,
#status-picker-idle,
#status-picker-dnd,
#status-picker-invisible {
    flex: 1 1 calc(25% - 2px);
    display: flex;
    justify-content: center;
    height: 40px;
}

#status-picker-online .statusItem_e0f739,
#status-picker-idle .statusItem_e0f739,
#status-picker-dnd .statusItem_e0f739,
#status-picker-invisible .statusItem_e0f739 {
    width: fit-content;
    display: flex;
    padding: 0;
    justify-content: center;
}

#status-picker
.item-1OdjEX:not(#status-picker-custom-status, #status-picker-switch-account)
.status_e0f739 {
    display: none;
}

#status-picker .description_e0f739 {
    display: none;
}

#status-picker .separator-1So4YB {
    display: none;
}

.statusItem_e0f739 {
    column-gap: 5px;
}

#status-picker .mask-2Me5HY {
    height: 50%;
    width: auto;
}

.item-1OdjEX foreignObject {
    mask: none;
}

.status-2DiCMd {
    border-radius: 8px !important;
    width: 6px !important;
    height: 6px !important;
    margin-left: 2px;
    margin-top: 2px;
}
