/*user profile in dms fix*/
.mutualGuildsList_b433b4 > .collapseBtn_ce1058, .mutualFriendsList_b433b4 > .collapseBtn_ce1058 {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
